<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.supportv4"
    android:versionCode="1"
    android:versionName="App" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_sample_code"
        android:label="@string/activity_sample_code" >
        <activity
            android:name=".widget.SlidingPaneLayoutActivity"
            android:label="@string/sliding_pane_layout_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>